fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
mediapipe
opencv-python-headless
numpy
google-generativeai
gTTS
Pillow
alembic
httpx
torch
torchvision
